{% extends "base.html" %}

{% block content %}

<div class="test">
</div>

{% for quiz in quizzes %}
<article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <label class="mr-2" href="#">difficulty: {{ quiz.difficulty }}</label>
            <small class="text-muted">author: {{ quiz.author }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ quiz.title }}</a></h2>
          <p class="article-content">{{ quiz.quiz }}</p>
        </div>
      </article>
{% endfor %}

{% endblock %}