{% extends "base.html" %}
{% block content %}

<div class="container" >
    <h3>Leaderboard</h3>
</div>

<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Index</th>
            <th scope="col">Name</th>
            <th scope="col">Marks</th>
          </tr>
        </thead>
        <tbody>
            {% for student in lboard %}
            <tr>
                <td>{{ student.user.id }}</td>
                <td>{{student.index}}</th>
                <td>{{student.student_name}}</td>
                <td> 10 </td>
            </tr>
            {% endfor %}
          
        </tbody>
      </table>



{% endblock content %}