{% extends "base.html" %}
{% block content %}

<div class="container" >
    <h3>Leaderboard</h3>
</div>

<meta http-equiv="refresh" content="30">

<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Team ID</th>
            <th scope="col">Team Name</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
            {% for student, marks, rank in lboard %}
            <tr>
                <td>{{ rank }}</td>
                <td>{{ student.index}}</th>
                <td>{{ student.student_name}}</td>
                <td>{{ marks }}</td>
            </tr>
            {% endfor %}
          
        </tbody>
      </table>



{% endblock content %}