{% extends "base.html" %} {% block content %}

<!-- <h1 class="display-4" >Quiz Home</h1> -->

<!-- <div class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <span class="h3 pull-left">Rules</span>
    </div>
    <ul>
      <li>rule 1</li>
      <li>rule 2</li>
      <li>rule 3</li>
    </ul>
  </div>
</div> -->

<div class="media content-section">
  <div>
    <div class="article-metadata">
      <h3>Rules</h3>
    </div>
    
    <p>
      The quiz consists of multiple choice questionnaire on the fundamental rights of the child. The winners will 
      be chosen through an automatic draw from the names of the participants who have realized a perfect score.
    </p>
    <hr>
    <p>
      Participation in the quiz is free and open to all persons above 18 years old. 
    </p>
    <hr>
    <p>
      The quiz will be available from the 20 November 2016 to the 20 December 2016. The participant answers 13 questions and 
      validates his or her participation by clicking on the final sending button, and by giving his or her personal information.
    </p>
    <hr>
    <p>
      The winners will be contacted by e-mail, in order to obtain their postal address where the prize will be sent to. From 
      the moment the e-mail is sent, the winners have a month to accept their prize.
    </p>

    <form action="{% url 'quiz-page' 1 %}">
        <div class="form-group float-right">
          <button class="btn btn-outline-info" type="submit">Begin Quiz</button>
        </div>
      </form>

  </div>
</div>
  


{% endblock content %}
